# Hugging Face 
HUGGINGFACE_API_KEY=your_key_here

# Modèle Embedding 
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Modèle génération 
GENERATION_MODEL=mistral:7b-instruct

# Paths
DATA_PATH=./data/documents
CHROMA_PATH=./data/chroma_db

# API Settings
API_HOST=0.0.0.0
API_PORT=8000

# Streamlit Settings
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_HEADLESS=true

# Debug
DEBUG=false